
/* <!-- HERO --> */
.hero__section {
  height: 583px;
  width: 100%;
  /* background-size: contain; */
  /* background-size: auto; */
  background: url("../images/desktop/hero_rectangle_7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-dark);
  /* background: url("./images/desktop/hero_rectangle_7.jpg"); */
}
/* <!-- END HERO --> */