  $main-font-color: #000000;
  $light-font-color: #ffffff;
  $second-font-color: #9d9d9d;
  $main-font: "Roboto", "Verdana", "Tahoma", sans-serif;
  $background-dark: #6d888e;
  $background-light: #e1eae4;
  

